body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f7f5;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ff3e00;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5em;
    color: #333;
}

#countdown div {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
